.app-container{
    /* border: solid; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-container{
    /* border: solid; */
    border-radius: 14px;

    background-color: rgb(235, 235, 235);
}

.task-buttons-container{
    /* border: solid brown; */

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.task-switch-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-description-container{
    
}
.task-complete-button{
    height: 40px;
    width: 120px;

    border-radius: 100px;
    border: none;

    background-color: rgb(255, 127, 127);
}
.task-complete-button:hover{
    background-color: rgb(255, 0, 0);
}
.task-description-under-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
